.text-container-categories{
    color: white;
    font-size: 32px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    margin-top: 40px;
    margin-left: 100px;
}

.categories{
    margin-top: 32px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* justify-content: center; */
    gap: 40px;
    overflow-x: auto;
    scroll-padding-inline:0;
    overscroll-behavior-inline: contain;
}

.icon-top{
    font-size: 32px;
    color: gray;
}
.categories .container-categories{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width:100px;
    height: 130px;
}

.categories .container-categories img{
    opacity: .8;
}
.categories .container-categories .text-description-categories{
    font-size: 16px;
    color: white;
    opacity: 0.4;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    
}

@media only screen and (max-width: 900px) {
    .categories{
        margin-left: 20px;
        margin-right: 20px;
       
        
    }
    .text-container-categories{
       
        margin-top: 20px;
        margin-left: 20px;
    }

    .categories .container-categories .text-description-categories{
        font-size: 16px;
        color: black;
        opacity: 0.4;
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
        
    }
}
    