

.container-navigation{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    height: 85px;
}

.container-navigation .container-logo img{
   margin: 24px auto 24px 47px;
 
}

.container-navigation .container-menu{
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: right;
    margin-right: 47px;
    margin-top: 25px;
    align-content: center;
    margin-left: auto;
}

.container-navigation .container-menu .menu-item{
    list-style: none;
}

.container-navigation .container-menu .menu-item a {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 18px;
    text-decoration: none;
}


.menu-icon{
    display: none;
    background-color: transparent;
    border: 0px;
    width: 18px;
    height: 12px;
}

.container-menu-secundary{
    display: none;
}
@media only screen and (max-width: 515px) {
    .container-navigation .container-logo img{
        margin: 24px 20px 24px 20px;
      
     }
     .container-navigation .container-menu{
        display: none;
        flex-direction: column;
        margin-right: 20px;
        margin-left: 0px;
        
    } 

    .container-navigation .container-menu.activo{
        display: flex;
        align-items: center;
        flex-direction: column;
        position: fixed;
        background-color: #2659C3;
        cursor: pointer;
        gap: 25px;
        margin-bottom: 35px;
        width: 100%;
        
    }
  
    .container-menu-secundary{
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        gap:30px ;
        align-items: center;
        position: fixed;
        bottom: 0;
        height: 86px;
        width: 100%;
        padding-bottom: 30px;
        /* padding-top: 20px;
        padding-bottom: 20px; */
        /* margin-top: 10px; */
       background-color: rgba(255, 255, 255);
       margin-top: 15px;
    }

    .icon-menu{
        opacity: .4;
    }
    .container-menu-secundary li{
        list-style: none;
        width: 64px;
        height: 46px;
        display:flex;
        justify-content: center;
        align-items: center;
        /* display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        text-align: center;
        width: 36px;
        height: 36px;
        gap: 15px; */

    }

    .container-menu-secundary li a{
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        color: black;
        font-size: 12px;
        text-decoration: none;
        margin-top: 45px;
    }
    .menu-icon{
        display: block;
        border: 0px;
        width: 18px;
        height: 12px;
        margin-right: 20px;
        margin-left: 20px;
        
    }


    .icon-home{
        background-image: url(../img/categories/menu/home.svg);
        width:24px;
        height: 24px;
        background-repeat:no-repeat;
        background-position: center center;
    }

    .icon-packages{
        background-image: url(../img/categories/menu/suitcase.svg);
        width:24px;
        height: 24px;
        background-repeat:no-repeat;
        background-position: center center;
    }
    .icon-stays{
        background-image: url(../img/categories/menu/stay.svg);
        width:24px;
        height: 24px;
        background-repeat:no-repeat;
        background-position: center center;
    }

    .icon-flights{
        background-image: url(../img/categories/menu/flights.svg);
        width:24px;
        height: 24px;
        background-repeat:no-repeat;
        background-position: center center;
    }
} 