@import url(./header.css);
@import url(./slider.css);
@import url(./categories.css);
@import url(./top-vacations-container.css);

*{
     margin: 0px;
    padding: 0px; 
}

body{
    background-image:url(../img/background.png) ;
    background-repeat: none;
    background-size: cover;
}