.top-vacations-container{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    gap: 24px;
    justify-content: center;
    align-items: center;
    height: 85px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 32px;
    margin-bottom: 72px;
    
}


.top-vacations-container .container-card{
    position: relative;
    display: inline-block;
    
}

.top-vacations-container img{
    width: 310px;
    height: 200px;
    border-radius: 8px;
    
}

.top-vacations-container img:hover{
    background-color: white;
    border: 0px;
    opacity: 0.4;
    
}

.top-vacations-container .text-description-card{
    position: absolute;
    bottom: 23px;
    left: 24px;
    right: 112px;
    font-size: 24px;
    color: white;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 600px) {
    .top-vacations-container{

        margin-left: 20px;
        margin-right: 20px;
  }